body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* CUSTOM */
.container-wrapper {
	padding-top: 68px;
}
@media screen and (max-width: 450px) {
	.container-wrapper {
		padding-left: initial;
		padding-right: initial;
		padding-left: 12px;
		padding-right: 12px;
	}
}
#app {
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 1300px) {
	.container-wrapper {
		max-width: 1240px;
	}
}
.content-box-md {
	padding-bottom: 80px;
}
.all-country-title {
	margin-bottom: 25px;
}
.controlRow__root {
	margin-bottom: 20px;
}
table {
	width: 100%;
	height: 543px;
	background-color: #eceaea;
	position: relative;
}
.social-icon-wrapper {
	display: flex;
	flex-direction: row;
}
.social-icons, .social-icons:hover {
	padding: 0 10px;
	color: #fff;
}
.controlRow__root .btn-group {
	display: inherit;
}
.thead {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: #eceaea;;
}
#loader {
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
#loader-icon {
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -76px;
	margin-left: -76px;
}